VITE_AUTH_MODE=password
VITE_MICROSOFT_ENTRA_TENANT_ID=842e4e0e-1c63-4147-b5bc-2b8baed2f998
VITE_MICROSOFT_ENTRA_CLIENT_ID=b9df5b4b-d3f7-4e7c-9b31-9f3d183f180d
VITE_MSAL_REDIRECT_URI=http://localhost:5173/
